<mat-toolbar color="primary" class="mat-elevation-z4 sticky-toolbar">
    <span class="logo-text" [routerLink]="['/home']">¿Qué Compro?</span>

    <span class="spacer"></span>
    <div class="currency-selector me-3">
        <button mat-button [matMenuTriggerFor]="currencyMenu">
            {{ selectedCurrency || 'Moneda' }}
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #currencyMenu="matMenu">
            <button mat-menu-item (click)="selectCurrency('ARS')">ARS - Peso Argentino</button>
            <button mat-menu-item (click)="selectCurrency('USD')">USD - Dólar Estadounidense</button>
            <button mat-menu-item (click)="selectCurrency('EUR')">EUR - Euro</button>
        </mat-menu>
    </div>

    <ng-container *ngIf="user$ | async as user; else guest">
        <span class="user-display me-3">{{ user.displayName }}</span>
        
        <a mat-stroked-button color="accent" [routerLink]="['/history']" title="Ver historial de búsquedas" class="me-2">
            <mat-icon>history</mat-icon> Historial
        </a>
        
        <button mat-flat-button color="warn" (click)="logout()">
            <mat-icon>logout</mat-icon> Logout
        </button>
    </ng-container>

    <ng-template #guest>
        <a mat-stroked-button [routerLink]="['/login']" class="me-2">Login</a>
        <a mat-flat-button color="accent" [routerLink]="['/signup']">Signup</a>
    </ng-template>
</mat-toolbar>